@charset "utf-8";

* {
    margin: 0px;
    padding: 0px;
}
/*header,nav,section,article,footer,aside{display:block;}*/

#allbody {
    background-color: white;
    border-top: 30px;
    border-top-color: #F0600D;
    border-top-style: solid;
}

#header_img {
    position: absolute;
    padding-top: 20px;
    padding-left: 85px;
}

#logoname {
    position: relative;
    top: 57px;
    left: 162px;
    font: bold 18px Cursive;
    color: black;
}


.logoutbu {
    padding: 10px;
    padding-left: 19px;
    padding-right: 19px;
    border: outset;
    font-family: cursive;
    text-align: right;
    position: absolute;
    left: 1300px;
    top: 70px;
}


